* {
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.container__header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.header {
    width: 88%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header--logo {
    width: 200px;
    height: 80px;
    box-sizing: content-box;
}

.list__header--link {
    width: 30%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 26%;
    margin-right: 9%;
}

.list__header--link>li>a {
    display: flex;
    text-decoration: none;
    color: black;
}

.list__header--icon {
    margin-left: 150px;
    width: 100px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.btn--login {
    width: 80px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.container__footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.layout__content {
    width: 88%;
    height: 300%;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 88%;
    background-color: #131118;
}

.footer__nav--item {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.img__footer {
    width: 150px;
    height: 70px;
}

.list__footer--item {
    list-style: none;
}

.nav__item--headline {
    margin-bottom: 10px;
    color: white;
}

.list__footer--item>li {
    height: 50px;
    color: #97979a;
    display: flex;
}

.title__enter--mail {
    width: 250px;
}

.input__email {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
    background-color: #131118;
    border: 2px solid white;
}

.footer__nav--item--subricse {
    margin-top: -140px;
}


/* .footer__icon--sendMail {
  position: absolute;
  margin-top: 8px;
  left: 90%;
} */